<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form metthod="POST">
    <label>ProductId</label>
    <input name="ProductId" required/>
    <br>
     <label>ProductName</label>
    <input name="ProductName" required/>
    <br>
     <label>Price</label>
    <input name="Price" required/>
        <br>
     <label>Rating</label>
    <input name="Rating" required/>
    <br>
    <input type="submit" value="  submit"/>

</form>
</body>
</html>